<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="menuSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<connectionStrings>
		<add name="connectToEmployeeDB"
		 providerName="System.Data.ProviderName"
		 connectionString="Data Source=LAPTOP-IQ3A8DB6\SQLEXPRESS;Initial Catalog=EmployeeDB;User ID=***;Password=*****" />
	</connectionStrings>

	<menuSettings>
		<add key="MenuTitle" value="Управление нформацией о сотрудниках" />
		<add key="MenuItems" value="Добавьте нового сотрудника;Посмотреть всех сотрудников;Обновите информацию о сотруднике;Удалить сотрудника;Выйдите из приложения" />
	</menuSettings>
</configuration>
